/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

form {
  padding: 15px;
}

.form-controls {
  margin-bottom: 10px;
}

body {
  background-image: image_url("bg.png");
  background-repeat: no-repeat;
  background-position: center center;
}